.lostPest {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  justify-content: center;
  align-content: center;
  align-items: center;
  .carrusel__onePets {
    padding: 30px 0 20px 0;
    width: 70%;
  }
}
.font {
  font-size: 32px;
}
.contactOwnerMessage {
  display: flex;
  flex-direction: column;
  img {
    width: 100%;
    object-fit: scale-down;
  }
}

#progress {
  position: absolute;
  top: 20px;
  left: 20px;
  transform: rotate(-90deg);
}

circle {
  stroke-dashoffset: 0;
  stroke-width: 15%;
  fill: none;
}

.bg2 {
  stroke: rgba(179, 191, 169, 0.669);
  opacity: 0.3;
}

#progress .indicator {
  stroke: rgba(130, 198, 69, 0.669);
}

.ul_card {
  display: flex;
  list-style: none;
  height: 300px;
  overflow-x: scroll;
  //padding: 20px 0;
  flex: 0 0 200px;

  //margin: 45px 30px 30px 30px;
  img {
    flex: 0 0 200px;
    background: transparent;
    margin: 0 20px 20px 0;
    height: auto;
    width: 100%;
  }
}

::-webkit-scrollbar {
  height: 15px;
  width: 10px;
  background: rgba(220, 234, 209, 0.669);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-thumb {
  height: 5px;
  width: 5px;
  background: rgba(130, 198, 69, 0.669);
  -webkit-border-radius: 1ex;
}

.section__lostCard {
  width: 100%;
  display: flex;
  padding: 0;
  justify-content: space-around;
  align-items: center;

  .card__sms {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .userContacta {
    display: flex;
    flex-direction: column;
  }
}
.table2 {
  min-width: 40%;
  .table {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 100%;
    height: 100%;
  }
}

.loaderlostpets {
  width: 215px;
  height: 215px;
  display: block;
  margin: auto;
  position: relative;
  background: #fff;
  box-sizing: border-box;
}
.loaderlostpets::after {
  content: "";
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  top: 15px;
  left: 15px;
  position: absolute;
  background-image: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.5) 50%,
      transparent 100%
    ),
    radial-gradient(circle 50px, #ddd 100%, transparent 0),
    linear-gradient(#ddd 16px, transparent 0),
    linear-gradient(#ddd 24px, transparent 0);
  background-repeat: no-repeat;
  background-size: 75px 175px, 100% 100px, 80% 16px, 80% 16px;
  background-position: -185px 0, center 10px, center 125px, center 155px;
  box-sizing: border-box;
  animation: animloader 1s linear infinite;
}

@keyframes animloader {
  to {
    background-position: 185px 0, center 10px, center 125px, center 155px;
  }
}

.loaderlostpets2 {
  width: 55px;
  height: 55px;
  display: block;
  margin: 20px auto;
  box-sizing: border-box;
  position: relative;
}
.loaderlostpets2::after {
  content: "";
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  left: 0;
  bottom: 0;
  position: absolute;
  border-radius: 50% 50% 0;
  border: 15px solid #a3f036;
  transform: rotate(45deg) translate(0, 0);
  box-sizing: border-box;
  animation: animMarker 0.4s ease-in-out infinite alternate;
}
.loaderlostpets2::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 150%;
  width: 24px;
  height: 4px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
  animation: animShadow 0.4s ease-in-out infinite alternate;
}

@keyframes animMarker {
  0% {
    transform: rotate(45deg) translate(5px, 5px);
  }
  100% {
    transform: rotate(45deg) translate(-5px, -5px);
  }
}

@keyframes animShadow {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.loaderlostpets3 {
  position: relative;
  border-style: solid;
  box-sizing: border-box;
  border-width: 40px 60px 30px 60px;
  border-color: #3760c9 #96ddfc #96ddfc #36bbf7;
  animation: envFloating 1s ease-in infinite alternate;
  cursor: pointer;
}

.loaderlostpets3:after {
  content: "";
  position: absolute;
  right: 62px;
  top: -40px;
  height: 70px;
  width: 50px;
  background-image: linear-gradient(#413f3f 45px, transparent 0),
    linear-gradient(#413f3f 45px, transparent 0),
    linear-gradient(#413f3f 45px, transparent 0);
  background-repeat: no-repeat;
  background-size: 30px 4px;
  background-position: 0px 11px, 8px 35px, 0px 60px;
  animation: envDropping 0.75s linear infinite;
}

@keyframes envFloating {
  0% {
    transform: translate(-2px, -5px);
  }
  100% {
    transform: translate(0, 5px);
  }
}

@keyframes envDropping {
  0% {
    background-position: 100px 11px, 115px 35px, 105px 60px;
    opacity: 1;
  }
  50% {
    background-position: 0px 11px, 20px 35px, 5px 60px;
  }
  60% {
    background-position: -30px 11px, 0px 35px, -10px 60px;
  }
  75%,
  100% {
    background-position: -30px 11px, -30px 35px, -30px 60px;
    opacity: 0;
  }
}

@media (max-width: 965px) {
  .section__lostCard {
    flex-direction: column;
    gap: 30px;
  }
  .lostPest {
    .carrusel__onePets {
      padding: 30px 0 20px 0;
      width: 95%;
    }
  }
  .table2 {
    padding: 20px 30px 15px 30px;
  }
}

@media (max-width: 685px) {
  #progress {
    display: none;
  }
}
