  
  .container {
    width: 100%;
    border-radius: 2rem;
    border: .2rem solid #333;
    text-align: center;
    padding: 20px;
  }
  h2 {
    font-size: 28px;
  }
  
  p {
    font-size: 22px;
    line-height: 1.5;
  }
