
    .imagen{
      width: 100%;
    }
    .huellas{
      display: flex;
      .container {
        border-radius: 2rem;
        border: .2rem solid #333;
        text-align: center;
        padding: 2rem;
      }
    
      h2 {
        font-size: 28px;
      }
      
      p {
        font-size: 22px;
        line-height: 1.5;
      }
    }


  @media(max-width:768px){
    .acerca{
        margin: 2rem;
        .huellas3{
          display: none;
        }
      }
  }
