#UserTab {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 0.5em;

    figure {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: fit-content;
        position: relative;
        align-self: center;

        img {
            width: 3.125em;
            height: 3.125em;
            border-radius: 50%;
            object-fit: cover;
        }

        #cloudinary {
            position: absolute;
            border: none;
            background-color: transparent;
            margin: 0;
            top: 3em;
            left: -1em;
            #CameraIcon {
                position: absolute;
                left: -1em;
                bottom: 0;
                cursor: pointer;
            }
        }

        
    }

    form {
        display: flex;
        flex-direction: column;
        width: 90%;
        align-self: center;

        .Operations {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }

        .bi-pencil {
            cursor: pointer;
            margin-left: 0.3em;
        }


        button {
            margin-top: 1em;
            background-color: #7FD262;
            border: none;
            border-radius: 5px;
            width: fit-content;
        }
    }
}