* {
  padding: 0;
  margin: 0;
}
.home {
  .search {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 30px 50px 50px;
    &__section1 {
      display: flex;
      width: 100%;
      justify-content: space-between;
      flex-wrap: wrap;
      .container__divSearch {
        display: flex;
        flex-direction: column;
        width: 14rem;
      }
      .container__CardFound {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
      }
    }
  }
}

@media (max-width: 768px) {
  .search {
    &__section1 {
      flex-direction: column;
      align-items: center;
      width: 100% !important;
    }
    .container__divSearch {
      width: 100% !important;
      margin-bottom: 1rem;
    }
    .container__CardFound {
      width: 100% !important;
    }
  }
}
