* {
  padding: 0;
  margin: 0;
}
.home {
  .search {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 30px 50px 50px;
    &__section1 {
      display: flex;
      width: 100%;
      justify-content: space-between;
      flex-wrap: wrap;
      .container__divSearch {
        display: flex;
        flex-direction: column;
        width: 14rem;
      }
      .container__CardFound {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
      }
    }
  }
}

.loader {
  width: 160px;
  height: 185px;
  position: relative;
  background: #a95b08;
  border-radius: 100px 100px 0 0;
}
.loader:after {
  content: "";
  position: absolute;
  width: 100px;
  height: 125px;
  left: 50%;
  top: 25px;
  transform: translateX(-50%);
  background-image: radial-gradient(circle, #000 48%, transparent 55%),
    radial-gradient(circle, #000 48%, transparent 55%),
    radial-gradient(circle, #a95b08 30%, transparent 45%),
    radial-gradient(circle, #000 48%, transparent 51%),
    linear-gradient(#000 20px, transparent 0),
    linear-gradient(#586165 60px, transparent 0),
    radial-gradient(circle, #586165 50%, transparent 51%),
    radial-gradient(circle, #586165 50%, transparent 51%);
  background-repeat: no-repeat;
  background-size: 16px 16px, 16px 16px, 10px 10px, 42px 42px, 12px 3px,
    50px 25px, 70px 70px, 70px 70px;
  background-position: 25px 10px, 55px 10px, 36px 44px, 50% 30px, 50% 85px,
    50% 50px, 50% 22px, 50% 45px;
  animation: faceLift 3s linear infinite alternate;
}
.loader:before {
  content: "";
  position: absolute;
  width: 140%;
  height: 125px;
  left: -20%;
  top: 0;
  background-image: radial-gradient(circle, #a95b08 48%, transparent 50%),
    radial-gradient(circle, #a95b08 48%, transparent 50%);
  background-repeat: no-repeat;
  background-size: 65px 65px;
  background-position: 0px 12px, 145px 12px;
  animation: earLift 3s linear infinite alternate;
}

@keyframes faceLift {
  0% {
    transform: translateX(-60%);
  }
  100% {
    transform: translateX(-30%);
  }
}
@keyframes earLift {
  0% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}

@media (max-width: 768px) {
  .search {

    &__section1 {
      flex-direction: column; 
      align-items: center;
      width: 100% !important;
    }
    .container__divSearch {
      width: 100% !important; 
      margin-bottom: 1rem;
    }
    .container__CardFound {
      width: 100% !important;
    }
  }
  
}
