.Header__primary {
  display: flex;
  flex-direction: column;
  align-items: center;
  .progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 15px;
    background: linear-gradient(to right, #8fd14f, #ffd16d);
    transform-origin: 0%;
    z-index: 1;
  }
  .HeaderC {
    padding: 1em 1em 0 1em;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    img {
      width: 10em;
    }

    .Options {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      gap: 0.5em;

      i {
        cursor: pointer;
      }
      .btn1 {
        padding: 2px;
        background: linear-gradient(to right, #8fd14f, #b4d159);
      }
      .btn2 {
        padding: 2px;
        background-color: #e1d073;
      }
      #name {
        color: #848e95;
        font-weight: 300;
        font-size: 0.8em;
      }
      img {
        width: 3.125em;
        height: 3.125em;
        border-radius: 50%;
        object-fit: cover;
        cursor: pointer;
      }
    }
  }

  .navbar {
    background: linear-gradient(to right, #8fd14f, #b4d159);
    border-radius: 5px;
    width: auto;

    .colorMia {
      color: #ffff;
      cursor: pointer;
    }
    .colorMia:hover {
      font-weight: bold;
      color: #ffff;
    }
    #forum {
      text-decoration: none;
      color: #ffff;
    }
  }
  .nav-divider {
    position: relative;
    margin-right: 10px;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 2px;
      height: 50%;
      background-color: #fff;
    }

    padding-right: 8px;
  }
}
@media (max-width: 768px) {
  .div {
    display: flex;
    justify-content: end;
    width: 100%;
    margin-right: 2rem !important;
    .container-fluid {
      padding: 0 !important;
      display: flex !important;
      justify-content: end !important;
    }
    .navbar {
      border-radius: 0.5rem !important;
      padding: 0 !important;
    }
    .nav-item {
      margin-left: 1.2rem !important;
    }
  }
  h5 {
    display: none;
  }
  #name {
    display: none;
  }
  .nav-divider {
    &::after {
      display: none;
    }
  }
}
