#PetTab {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 0.5em;
    .PetGallery {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
        justify-content: space-between;
        margin: auto;
    }
    form {

        display: flex;
        flex-direction: column;
        width: 90%;
        align-self: center;
        
        .bi-pencil {
            cursor: pointer;
            margin-left: 0.3em;
        }

        #BtnActualizar {
            margin-top: 1em;
            background-color: #7FD262;
            border: none;
            border-radius: 5px;
            width: fit-content;
        }
    }

    
}
@media(max-width:768px){
    #PetTab {
       
        .PetGallery {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            justify-content: space-between;
            margin: auto;
        }
        form {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-self: center;
        }
    }
}