#PetTab {
    display: flex;
    flex-direction: column;
    width: 100%;

    .PetGallery {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
        margin: auto;
        justify-content: space-between;

        figure {
            margin-top: 1em;
            position: relative;

            .img {
                background-color: aqua;
                max-width: 10em;
            
            #cloudinary {
               position: absolute;
                border: none;
                background-color: transparent;
                margin: 0;
                left: -1em;
                bottom: -0.5em;
                #CameraIcon {
                    position: absolute;
                    left: -1em;
                    bottom: -0.5em;
                    cursor: pointer;
                }
            }

           

            #TrashIcon {
                position: absolute;
                right: -0.5em;
                bottom: -0.5em;
                cursor: pointer;
            }
        }
    }

    form {

        display: flex;
        flex-direction: column;
        width: 90%;
        align-self: center;
        
        .bi-pencil {
            cursor: pointer;
            margin-left: 0.3em;
        }

        #BtnActualizar {
            margin-top: 1em;
            background-color: #7FD262;
            border: none;
            border-radius: 5px;
            width: fit-content;
        }
    }
}
}
@media(max-width:768px){
    .figure{
        width: 30%;
        background-color: #7FD262 !important;
    }
    
    
}