#PetTab {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 0.5em;
    .PetGallery {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
        justify-content: space-between;
        margin: auto;
        padding: 1rem;
        border: .1rem solid #333
    }
    form {

        display: flex;
        flex-direction: column;
        align-self: center;
        width: 100%;
        .bi-pencil {
            cursor: pointer;
            margin: 1rem;
        }
        #BtnActualizar {
            background-color: #7FD262;
            padding: .5rem;
            margin-top: 1rem;
            border: none;
            border-radius: 5px;
            width: fit-content;
        }
        
        input{
            margin:.2rem;
            width: 100% !important;
        }
        select{
            margin:.1rem;
            width: 100% !important;
        }
        textarea {
            margin:.1rem;
            width: 100% !important;
        }
    }

    
}
@media(max-width:768px){
    #PetTab {
       
        .PetGallery {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin: auto;
        }
        form {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-self: center;
        }
    }
}