.carrusel {
  padding: 0;
  margin: 0 auto;
  z-index: -1;
  height: 300px;
}

.swiper_container {
  height: 10rem;
  padding: 1rem 0;
  position: relative;
}

.swiper-slide {
  width: 23rem;
  height: 10rem;
  position: relative;
}

@media (max-width: 500px) {
  .swiper_container {
    height: 47rem;
  }
  .swiper-slide {
    width: 23rem !important;
    height: 10rem !important;
  }
  .swiper-slide img {
    width: 23rem !important;
    height: auto !important;
  }
}

.swiper-slide img {
  width: 23rem;
  height: auto;
  object-fit: cover;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}
