.ProfileM {
    padding: 1em;
    display: flex;
    flex-direction: row;
    width: 100%;

    .ProfileC {
        padding: 1em;
        display: flex;
        flex-direction: column;
        width: 100%;

        .mantine-Tabs-panel {
            #UserTab {
                display: flex;
                flex-direction: column;
                width: 100%;

                figure {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    width: 100%;

                    i {
                        position: relative;

                        #CameraIcon {
                            position: absolute;
                            left: -1em;
                            bottom: 0;
                            cursor: pointer;
                        }
                    }

                }

                form {

                    display: flex;
                    flex-direction: column;
                    width: 90%;
                    align-self: center;

                    .Operations {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                    }
                    button{
                        margin-top:1em;
                        background-color: #7FD262;
                        border: none;
                        border-radius:5px;
                        width:fit-content;
                    }
                }
            }

            #PetTab {
                display: flex;
                flex-direction: column;
                width: 100%;

                .PetGallery {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    width: 90%;
                    margin: auto;
                    justify-content: space-between;

                    figure {
                        margin-top: 1em;
                        position: relative;

                        img {

                            max-width: 10em;
                        }

                        #CameraIcon {
                            position: absolute;
                            left: -1em;
                            bottom: -0.5em;
                            cursor: pointer;
                        }

                        #TrashIcon {
                            position: absolute;
                            right: -0.5em;
                            bottom: -0.5em;
                            cursor: pointer;
                        }
                    }


                }

                form {

                    display: flex;
                    flex-direction: column;
                    width: 90%;
                    align-self: center;
                    #BtnActualizar{
                        margin-top:1em;
                        background-color: #7FD262;
                        border: none;
                        border-radius:5px;
                        width:fit-content;
                    }


                }
            }

            #InboxTab {
                display: flex;
                flex-direction: column;
                width: 100%;

                .InboxTabH {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    align-items: center;
                    justify-content: center;
                    padding: 1em;

                    img {
                        max-width: 7em;
                    }
                }

                table {
                    width: 90%;
                    margin: auto;

                    i {
                        cursor: pointer;
                    }
                }


            }

            #MapTab {
                display: flex;
                flex-direction: column;
                width: 100%;

                .MapTabH {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    align-items: center;
                    justify-content: center;
                    padding: 1em;

                    img {
                        max-width: 7em;
                    }
                }

                .MapTabB {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    align-items: center;
                    justify-content: center;
                    padding: 1em;

                }
            }
        }
    }
    .ProfileL{
      display: flex;
      flex-direction: column;
      width:10%;
      justify-content: space-between;
      height:85vh;
    }
}