.store {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 10rem;
    padding: 20px;
    border: .2rem solid #20af4b;
    border-radius: 2rem;
    width: 80%;
  }
  
  .store1 {
    width: 100%;
    text-align: center;
  
    label {
      display: inline-block;
      padding: 1rem 2rem;
      background-color: #000;
      color: #fff;
      border-radius: 1rem;
      font-size: 1.2rem;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
    }
  
    label:hover {
      background-color: #20af4b;
    }
  }
  
  .store2 {
    width: 25rem;
    height: 20rem;
    border-radius: 1rem;
    transition: transform 0.5s ease-in-out;
    box-sizing: border-box;
    border: 1px solid #000;
  }
  button{
   width: 80%;
   margin-left: 2.5rem;
    border: 1px solid #20af4b ;
    border-radius: 1rem;
  }
  button:hover{
    background-color:   #20af4b;
    color: #fff;
  }
  
  .store2:hover {
    height: 20rem;
    background-color: #fff;
    transform: scale(1.2);
  }
  
  .store2:active {
    color: white;
  }
  
  img {
    border-radius: 1rem;
    width: 100%;
  }
  
  @media (max-width: 768px) {
    .store {
      margin-left: 3rem;
    }
  }